<head>
  <script
    src="https://kit.fontawesome.com/a972348b0e.js"
    crossorigin="anonymous"
  ></script>
</head>

<div class="footer">
  <i class="fa-brands fa-facebook-f"></i>csfc
  <div class="footer-section"></div>
  <div class="footer-section-title">Company</div>
  <div class="footer-section-help">Help</div>
  <div class="company-section-list">
    About Us<br />Blog<br />Press Room<br />Careers
  </div>
  <div class="help-section-list">
    Contact us<br />FAQs<br />Terms and conditions<br />Privacy policy<br />Sitemap
  </div>
  <div class="copyright-bg"></div>
  <div class="copyright-text">
    Copyright 2021 Tour Guide. All Rights Reserved
  </div>

  <div class="payment-section">
    <div class="company-head"><i class="fa-brands fa-facebook-f"></i></div>
    <div class="become-guide">Become a Tour guide for Us</div>
    <div class="payment-section2">
      <div class="payment-text">Payment methods possible</div>
      <div class="img-section">
        <img class="img1" src="https://via.placeholder.com/40x26" />
        <img class="img2" src="https://via.placeholder.com/40x26" />
        <img class="img3" src="https://via.placeholder.com/40x26" />
        <img class="img4" src="https://via.placeholder.com/40x26" />
        <img class="img5" src="https://via.placeholder.com/40x26" />
      </div>
      <div class="img-section2">
        <img class="img6" src="https://via.placeholder.com/40x26" />
        <img class="img7" src="https://via.placeholder.com/40x26" />
        <img class="img8" src="https://via.placeholder.com/40x26" />
        <img class="img9" src="https://via.placeholder.com/39x26" />
        <img class="img10" src="https://via.placeholder.com/40x26" />
      </div>
    </div>
  </div>
  <div style="" class="icon-section">
    <div
      style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute"
    >
      <div style="" class="icon1"></div>
      <div
        style="
          width: 8.86px;
          height: 18.18px;
          left: 15.45px;
          top: 10.91px;
          position: absolute;
          /* background: white; */
        "
      ></div>
    </div>
    <div
      style="
        width: 40px;
        height: 40px;
        left: 50px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 40px;
          height: 40px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #37b1e2;
          border-radius: 9999px;
        "
      ></div>
      <div
        style="
          width: 18.18px;
          height: 14.85px;
          left: 10.91px;
          top: 12.73px;
          position: absolute;
          background: white;
        "
      ></div>
    </div>
    <div
      style="
        width: 40px;
        height: 40px;
        left: 100px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 40px;
          height: 40px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #c23772;
          border-radius: 9999px;
        "
      ></div>
      <div
        style="
          width: 18.18px;
          height: 18.18px;
          left: 10.91px;
          top: 10.91px;
          position: absolute;
          background: white;
        "
      ></div>
    </div>
    <div
      style="
        width: 40px;
        height: 40px;
        left: 150px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 40px;
          height: 40px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #e83f3a;
          border-radius: 9999px;
        "
      ></div>
      <div
        style="
          width: 13.99px;
          height: 18.18px;
          left: 12.73px;
          top: 10.91px;
          position: absolute;
          background: white;
        "
      ></div>
    </div>
  </div>
</div>
