.footer {
  width: 1440px;
  height: 418px;
  position: relative;
}
.footer-section {
  width: 1440px;
  height: 418px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #13253f;
}
.footer-section-title {
  left: 496px;
  top: 80px;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-family: Mulish;
  font-weight: 700;
  word-wrap: break-word;
}
.footer-section-help {
  left: 765px;
  top: 80px;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-family: Mulish;
  font-weight: 700;
  word-wrap: break-word;
}
.company-section-list {
  left: 496px;
  top: 107px;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-family: Mulish;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}
.help-section-list {
  left: 765px;
  top: 107px;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-family: Mulish;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}
.copoyright-bg {
  width: 1440px;
  height: 60px;
  left: 0px;
  top: 358px;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.copyright-text {
  left: 135px;
  top: 378px;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-family: Mulish;
  font-weight: 400;
  word-wrap: break-word;
}
.payment-section {
  width: 219.33px;
  height: 179px;
  left: 1086px;
  top: 80px;
  position: absolute;
}
.company-head {
  left: 0px;
  top: 122px;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-family: Mulish;
  font-weight: 700;
  word-wrap: break-word;
}
.become-guide {
  left: 0px;
  top: 149px;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-family: Mulish;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}
.payment-section2 {
  width: 219.33px;
  height: 96px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.payment-text {
  left: 0px;
  top: 0px;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-family: Mulish;
  font-weight: 700;
  word-wrap: break-word;
}
.img-section {
  width: 219.33px;
  height: 26px;
  left: 0px;
  top: 70px;
  position: absolute;
}
.img1 {
  width: 39.87px;
  height: 26px;
  left: 134.6px;
  top: 0px;
  position: absolute;
}
.img2 {
  width: 39.87px;
  height: 26px;
  left: 179.46px;
  top: 0px;
  position: absolute;
}
.img3 {
  width: 39.87px;
  height: 26px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.img4 {
  width: 39.87px;
  height: 26px;
  left: 44.87px;
  top: 0px;
  position: absolute;
}
.img5 {
  width: 39.87px;
  height: 26px;
  left: 89.73px;
  top: 0px;
  position: absolute;
}
.img-section2 {
  width: 218.64px;
  height: 26px;
  left: 0px;
  top: 39px;
  position: absolute;
}
.img6 {
  width: 39.87px;
  height: 26px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.img7 {
  width: 39.87px;
  height: 26px;
  left: 133.91px;
  top: 0px;
  position: absolute;
}
.img8 {
  width: 39.87px;
  height: 26px;
  left: 178.77px;
  top: 0px;
  position: absolute;
}
.img9 {
  width: 39.17px;
  height: 26px;
  left: 44.87px;
  top: 0px;
  position: absolute;
}
.img10 {
  width: 39.87px;
  height: 26px;
  left: 89.04px;
  top: 0px;
  position: absolute;
}
.icon-section {
  width: 190px;
  height: 40px;
  left: 1115px;
  top: 368px;
  position: absolute;
}
.icon1 {
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #4b69b1;
  border-radius: 9999px;
}
