.footer {
  background-color: #3b837e;
  color: white;
  
  filter: brightness(100%) contrast(150%); 
}
  .links {
    ul {
      list-style-type: none;
    }
    li a {
      color: white;
      text-decoration: none;
      transition: color 0.2s;
      font-family: Mulish;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
      &:hover {
        text-decoration: none;
        color: #4180cb;
      }
    }
  }
  .about-company {
    i {
      font-size: 25px;
    }
    a {
      color: white;
      transition: color 0.2s;
      &:hover {
        color: #4180cb;
      }
    }
  }
 

.location i {
  font-size: 18px;
}
.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.icons {
  display: flex;
  gap: 10px;
}
.icon{
  margin-right: 10px;
}
