<!-- <body class="">
  <nav class="navbar navbar-expand-lg bg-transparent position-fixed z-3 w-100">
    <div class="container-fluid mx-lg-5">
      <a class="navbar-brand" href="#">TRAVALISTA</a>
      <button
        class="navbar-toggler shadow-none border-0"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="sidebar offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TRAVALISTA</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul
            class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3"
          >
            <li class="nav-item" >
              <button
                class="nav-link"
                routerLink=""
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Home
              </button>
            </li>
            <li class="nav-item mx-2">
              <button
                class="nav-link"
                routerLink="/aboutus"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                About Us
              </button>
            </li>
            <li class="nav-item mx-2">
              <button
                class="nav-link"
                routerLink=""
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{ exact: true }"
                fragment="populardestinaation"
              >
                Popular Destinations
              </button>
            </li>
            <li class="nav-item mx-2">
              <button
                class="nav-link"
                routerLink="/guidelogin"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Guide
              </button>
            </li>

            <li class="nav-item mx-2">
              <button
                class="nav-link"
                routerLink="/contactus"
                [routerLinkActive]="'active'"
              >
                Contact Us
              </button>
            </li>
           <--  dropdown  
            <li class="nav-item dropdown no-arrow" *ngIf="isLoggedIn()">
              <a class="dropdown ">
                <a
                  class="btn dropdown-toggle small rearrow"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="border: none"
                >
                  {{ value }}
                  <img
                    class="img-profile rounded-circle pl-3"
                    src="../../../assets/undraw_profile.svg"
                  />
                </a>
                <ul class="dropdown-menu dropdown-menu-end  shadow" style="margin-top: 20px;">
                  <li>
                    <a class="dropdown-item " (click)="userProfile()">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i
                      ><span style="margin-left: 6px" >Profile</span></a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item " (click)="bookedPackages()">
                      <i class="fa-solid fa-receipt"></i>
                      <span style="margin-left: 6px" >Booked Packages</span></a
                    >
                  </li>

                  <li *ngIf="isLoggedIn()">
                    <a class="dropdown-item" (click)="logout()">
                      <i
                        class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                      ></i>
                      Logout
                    </a>
                  </li>
                </ul>
              </a>
            </li>
          </ul>
          <div class="buttons" *ngIf="!isLoggedIn()">
            <button class="btn1" (click)="redirectToLogin()">Login</button>
            <button (click)="redirectToRegister()" class="btn2">
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</body> -->

<!-- ----------------------------- -->
<!-- <div class="container-fluid position-relative p-0"> -->
<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
  <a  class="navbar-brand p-0">
      <h1 class=" m-0" style="color: #3b837e;"><i class="fa fa-map-marker-alt me-3"></i>TRAVALISTA</h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse head" id="navbarCollapse" >
      <div class="navbar-nav ms-auto py-0" style="display: flex; justify-content: center; align-items: center;">
          <a href="index.html" class="nav-item nav-link active">Home</a>
          <a routerLink="/aboutus" class="nav-item nav-link">About</a>
          <a href="service.html" class="nav-item nav-link">Services</a>
          <a routerLink="/allpackages" class="nav-item nav-link">Packages</a>
          <a   routerLink="/contactus" class="nav-item nav-link">Contact Us</a>
         
          <a  routerLink="/guidelogin" class="nav-item nav-link">Guide</a>
          
         
      
      <div class="dropdown-center" *ngIf="isLoggedIn()">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{value}}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item " (click)="userProfile()">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i
              ><span style="margin-left: 6px" >Profile</span></a
            >
          </li>
          <li>
            <a class="dropdown-item " (click)="bookedPackages()">
              <i class="fa-solid fa-receipt"></i>
              <span style="margin-left: 6px" >Booked Packages</span></a
            >
          </li>

          <li *ngIf="isLoggedIn()">
            <a class="dropdown-item" (click)="logout()">
              <i
                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
              ></i>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
      <div class="d-flex gap-3"  *ngIf="!isLoggedIn()">
      <a  class="btn btn-primary rounded-pill py-2 px-4" (click)="redirectToRegister()">Register</a>
      <a  class="btn btn-primary rounded-pill py-2 px-4" (click)="redirectToLogin()">Login</a>
    </div>
  </div>
</nav>
<!-- </div> -->