

<div class="wrapper">
  <aside id="sidebar" [ngClass]="{'expand':isExpand}">
      <div class="d-flex">
          <button class="toggle-btn" type="button" (click)="toggleSideBar()">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="sidebar-logo">
              <a >TRAVALISTA</a>
          </div>
      </div>
      <ul class="sidebar-nav">
          <li class="sidebar-item">
              <a  class="sidebar-link" routerLink="/admin/adminpage">
                <i class="fa-solid fa-house"></i>
                  <span >Home</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a  class="sidebar-link" routerLink="/admin/pendingrequests">
                <i class="fa-solid fa-hourglass-half"></i>
                  <span >Pending Requests</span>
              </a>
          </li>
          <li class="sidebar-item">
            <a  class="sidebar-link">
             <i class=" fa-solid fa-flag"></i>
                <span>Banners</span>
            </a>
        </li>
          <li class="sidebar-item">
              <a  class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                  data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                  <i class="fas fa-users"></i>
                  <span>Guide</span>
              </a>
              <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                      <a  class="sidebar-link">Guide List</a>
                  </li>
                  <li class="sidebar-item">
                      <a  class="sidebar-link">Packages</a>
                  </li>
                  <li class="sidebar-item">
                    <a  class="sidebar-link">Block Guide</a>
                </li>
                <li class="sidebar-item">
                  <a  class="sidebar-link">Guide Status</a>
              </li>
              </ul>
          </li>
          <li class="sidebar-item">
            <a  class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#user" aria-expanded="false" aria-controls="auth">
                <i class="fas fa-users"></i>
                <span>User</span>
            </a>
            <ul id="user" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a  class="sidebar-link">User List</a>
                </li>
                <li class="sidebar-item">
                    <a  class="sidebar-link">Block User</a>
                </li>
              
            </ul>
        </li>
          <li class="sidebar-item">
              <a  class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                  data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                  <i class="fas fa-users"></i>
                  <span>Multi Level</span>
              </a>
              <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                      <a  class="sidebar-link collapsed" data-bs-toggle="collapse"
                          data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                          Two Links
                      </a>
                      <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                          <li class="sidebar-item">
                              <a  class="sidebar-link">Link 1</a>
                          </li>
                          <li class="sidebar-item">
                              <a  class="sidebar-link">Link 2</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="sidebar-item">
              <a  class="sidebar-link">
                <i class="fas fa-users"></i>
                  <span>Notification</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a  class="sidebar-link">
                <i class="fas fa-users"></i>
                  <span>Setting</span>
              </a>
          </li>
      </ul>
      <div class="sidebar-footer">
          <a  class="sidebar-link">
            <i class="fas fa-sign-out-alt"></i> 
              <span>Logout</span>
          </a>
      </div>
  </aside>

  <!-- side contetnts -->
  <div class="main p-3">
      <div class="text-center">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>