<div class="header-part d-flex align-items-center justify-content-center col-sm-12 col-12">
    <div class="container"> 
        <div class="col-12 col-lg-12">
    <h1 class="text-center" style="font-family: Volkhov;">We Find The Best Tours For You</h1>
      <p class="desc text-center" >
        Unlock unforgettable adventures at TRAVALISTA, your gateway to breathtaking destinations and enriching experiences.
      </p>
    </div>
</div>
  </div>
  <section class="section2">
 <div class="search col-12 col-sm-8 col-md-12">
  <form action="" class="search-bar">
    <input type="search" name="search" pattern=".*\S.*" required>
    <button class="search-btn" type="submit">
      <span>Search</span>
    </button>
  </form>
</div>
</section>

<div style="height:100px ; margin-top: 100px;">
    <h1>POPULAR places</h1>

</div>

<!-- popular places -->
<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-3 col-12 mb-4 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-12 mb-4 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-12 mb-4 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-12 mb-4 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
  </div>
</div>

