<!-- <div class="pending-guides-container">
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Email</th>
          <th>Experience</th>
          <th>Location</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guide of pendingGuides" class="pending-guide">
            <td>{{ guide.fullname }}</td>
            <td>{{ guide.email }}</td>
            <td><img src="{{ guide.files }}" ></td>
          <td>{{ guide.exp }}</td>
          <td>{{ guide.location }}</td>
          <td>{{ guide.isApproved }}</td>
          {{submittedAt}}
          <td class="actions">
            <button>Accept</button>
            <button>Reject</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   -->
   <section class="container">
    <!-- Header Bar -->
    <header>
      <div class="">
          <i class="icon fa fa-user-o"> </i>
        </div>
      <div class="">
        <label> Fullname </label>
      </div>
  
      <div class="">
        <label> email </label>
      </div>
  
      <div class="">
        <label> Experience</label>
      </div>
  
      <div class="">
        <label> location </label>
      </div>
      <div class="">
        <label> Status </label>
      </div>
      <div class="">
          <label> Actions </label>
        </div>
  
      
    </header>
  
    <!-- List Items -->
    <ul class="task-items" *ngFor="let guide of guides">
      <!-- List Item -->
      <li class="item">
          <div class="user">
              <img
                src="{{guide.files}}"
                alt="Image 001"
                class="owner-img"
              />
            </div>
            <div class="fullname">
              <label >{{guide.fullname}}</label>
            </div>
            <div class="email">
              <label >{{guide.email}}</label>
            </div>
            <div class="expirence">
              <label >{{guide.exp}}</label>
            </div>
            <div class="location">
              <label >{{guide.location}}</label>
            </div>
            <div class="status">
              <label >{{guide.isApproved}}</label>
            </div>
            <div class="actions">
              <button class="accept" (click)="isBlock(guide._id)">Block</button>
              <button class="reject" (click)="isUnblock(guide._id)">Unblock</button>
  
            </div>
            
       
          </li>
    </ul>
  </section>
  