<!-- <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg" style="width: 30rem; border-radius: 1rem">
      <div class="card-body p-4">
        <h2 class="text-center mb-3">Welcome Back!</h2>
        <form [formGroup]="guidelogin" (ngSubmit)="onsubmit()" >
          <div class="form-group mb-3">
            <label for="username"> Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              formControlName = 'email'
              required
              placeholder="Enter your email"
            
            />
          </div>
          <div class="form-group mb-3">
            <label for="password">Password</label>
            <input
              [type]="changetype?'password':'text'"
              class="form-control"
              name="password"
              formControlName = 'password'
              required
              placeholder="Enter your password"
            />
            <span class="eyeicon" (click)="viewPass()"><i [ngClass]="visible?'fa-solid fa-eye':'fa-regular fa-eye-slash'"></i></span>
            
          </div>
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="rememberMe" />
            <label class="form-check-label" for="rememberMe">Remember Me</label>
          </div>
          <button  type="submit" class="btn btn-primary btn-block mb-3">
           Log in
          </button>
          <button  type="submit" class="btn btn-primary btn-block mb-3 " routerLink="">
            Go Back
             </button>
          <div *ngIf="errmsg" class="alert alert-danger" role="alert"> {{errmsg}}</div>

          <p class="text-center mb-0">
            Forgot password? <a href="#">Click here</a>
          </p>
          <p class="text-center text-muted mt-5 mb-0">
            New Guide?
            <a routerLink="/guideregister" class="fw-bold text-body text-decoration-none"><u>Create New Account </u></a>
          </p>
        </form>
      </div>
    </div>
  </div>
   -->
<section class="h-50 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h2>TRAVALISTA</h2>
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>

                <form [formGroup]="guidelogin" (ngSubmit)="onsubmit()">
                  <p>Please login to your account</p>

                  <div class="form-floating mb-4">
                    <input
                      type="email"
                      id="form2Example11"
                      class="form-control"
                      formControlName = 'email'
                      placeholder="Phone number or email address"
                    />
                    <label class="form-label text" for="form2Example11"
                      >Username</label
                    >
                  </div>
                  <div class="form-floating mb-4">
                    <input
                      [type]="changetype ? 'password' : 'text'"
                      id="form2Example22"
                      formControlName = 'password'
                      class="form-control"
                      placeholder="password"
                    />
                    <label class="form-label text" for="form2Example22"
                      >Password</label
                    >
                    <span class="eyeicon" (click)="viewPass()"
                      ><i
                        [ngClass]="
                          visible
                            ? 'fa-solid fa-eye'
                            : 'fa-regular fa-eye-slash'
                        "
                      ></i
                    ></span>
                  </div>
                  <div *ngIf="errmsg" class="alert alert-danger" role="alert">
                    {{ errmsg }}
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      class="btn btn-primary w-75 fa-lg gradient-custom-2 mb-3"
                      type="submit"
                    >
                      Log in</button
                    ><br />
                    <a class="text-muted text-decoration-none" href="#!"
                      >Forgot password?</a
                    >
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      routerLink="/guideregister"
                    >
                      Create new
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Welcome Back, Guide!!</h4>
                <p class="small mb-0">
                  As a guide with TravasLita, you play a crucial role in
                  creating unforgettable experiences for our travelers. You're
                  not just a guide; you're an ambassador of adventure, a
                  storyteller of hidden gems, and a companion on the road less
                  traveled. Whether you're leading a trek through rugged
                  landscapes, uncovering the secrets of ancient ruins, or
                  sharing local traditions and cultures, you're helping
                  travelers connect with the world in meaningful ways. Thank you
                  for being a part of our journey, and welcome back to
                  TravasLita!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
