.package-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 453px;
    width: 803px;
    align-items: center;
  }

  .maincard {
   
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  
  .package-image {
    flex: 1;
  }
  
  .package-image img {
    width: 100%;
    height: auto;
  }
  
  .package-details {
    flex: 2;
    padding: 20px;
  }
  
  .package-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .package-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .package-details ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .package-details li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .buy-now-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-now-button:hover {
    background-color: #0056b3;
  }
  