// .main {
//   width: 100%;
//   height: 100vh;
//   //   background-color: red;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .form {
//   width: 900px;
//   //   background: yellow;
//   height: 600px;
//   display: flex;
//   border-radius: 10px;
// }
// .img {
//   width: 50%;
//   height: 100%;
//   background-image: url(../../../assets/mountain.png);
//   background-size: cover;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 10px;
// }
// .sign {
//   width: 50%;
//   height: 100%;
//   background-color: white;
//   border: 2px solid;
// }
// .head {
//   width: 300px;
//   text-align: center;
//   color: white;
//   font-size: 35px;
//   font-family: Noto Serif;
//   font-weight: 500;
//   margin-bottom: 170px;

//   //   word-wrap: break-word;
// }
img {
  width: 100%;
  background-color: red;
}
.image-preview {
  width: 100px;
  height: 100px;
}
