<!-- <div class="main">
  <div class="form">
    <div class="img">
      <p class="head">EXPLORE NEAR NATURAL SPOTS</p>
    </div>
    <div class="sign">
      <form action="">
        <div class="d-flex flex-column w-75 gap-4">
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />
        </div>
      </form>
    </div>
  </div>
</div> -->

<section class="vh-150 bg-image" style="background-color: black">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div
            class="card"
            style="border-radius: 15p; background-color: rgb(88, 77, 77)"
          >
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="registrationForm" (ngSubmit)="onsubmit()">
                <div class="form-outline mb-4">
                  <label class="form-label" for="fullname">Full Name</label>
                  <input
                    type="text"
                    id="fullname"
                    class="form-control form-control-lg"
                    formControlName="fullName"
                    [ngClass]="{ 'is-invalid': submit && f.fullName.errors }"
                  />
                  <div
                    *ngIf="submit && f.fullName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.fullName.errors?.['required']">
                      First Name is Required
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="email"> Email</label>
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submit && f.email.errors }"
                  />
                  <div
                    *ngIf="submit && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors?.['required']">
                      email is Required
                      <div *ngIf="f.email.errors?.['email']">
                        mobile Number is Required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="passportnumber"
                    >Passport Number(optional)</label
                  >
                  <input
                    type="number"
                    id="passportnumber"
                    class="form-control form-control-lg"
                    formControlName = "passportNumber"
                    [ngClass]="{
                      'is-invalid': submit && f.passportNumber.errors
                    }"
                  />
                  <div
                  *ngIf="submit && f.passportNumber.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.passportNumber.errors?.['required']">
                    passport Number  is Required
                  </div>
                  <div *ngIf="f.passportNumber.errors?.['pattern']">
                    passport Number  is Required
                  </div>
                </div>
                  
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="mobilenumber"
                    >mobile Number</label
                  >

                  <input
                    type="number"
                    id="mobilenumber"
                    class="form-control form-control-lg"
                    formControlName="mobileNumber"
                    [ngClass]="{
                      'is-invalid': submit && f.mobileNumber.errors
                    }"
                  />
                  <div
                    *ngIf="submit && f.mobileNumber.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.mobileNumber.errors?.['required']">
                      mobile Number is Required
                    </div>
                    <div *ngIf="f.mobileNumber.errors?.['pattern']">
                      mobile Number is Required
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="country">Country</label>
                  <input
                    type="text"
                    id="country"
                    class="form-control form-control-lg"
                    formControlName = "country"
                    [ngClass]="{
                      'is-invalid': submit && f.country.errors
                    }"
                  />
                  <div
                  *ngIf="submit && f.country.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.country.errors?.['required']">
                   Country is Required
                  </div>
                </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="state">State</label>
                  <input
                    type="text"
                    id="state"
                    class="form-control form-control-lg"
                    formControlName = "state"
                    [ngClass]="{
                      'is-invalid': submit && f.state.errors
                    }"
                  />
                  <div
                  *ngIf="submit && f.state.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.state.errors?.['required']">
                   state is Required
                  </div>
                </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="district">District</label>
                  <input
                    type="text"
                    id="district"
                    class="form-control form-control-lg"
                    formControlName = "district"
                    [ngClass]="{
                      'is-invalid': submit && f.district.errors
                    }"
                  />
                  <div
                  *ngIf="submit && f.district.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.district.errors?.['required']">
                   District is Required
                  </div>
                </div>
                </div>


                <div class="form-outline mb-4">
                  <label class="form-label" for="customFile"
                    >Attach image(optional)</label
                  >
                  <input
                    type="file"
                    class="form-control"
                    formControlName="image"
                    id="customFile"
                    (change)="onFileSelected($event)"
                    [ngClass]="{ 'is-invalid': submit && f.image.errors }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="submit && f.image.errors"
                  >
                    <div *ngIf="f.image.errors?.['required']">
                      Please select an image
                    </div>
                    <div *ngIf="f.image?.hasError('invalidImageType')">
                      Invalid image type. Please select a JPEG, PNG, or JPG
                      file.
                    </div>
                    <!-- <div *ngIf="f.image?.hasError('invalidImageSize')">Image size exceeds 500 KB.</div> -->
                    <div *ngIf="fileSize > 500">Image size exceeds 500 KB.</div>
                  </div>
                </div>
                <div *ngIf="selectedImg">
                  <img
                    [src]="selectedImg"
                    alt="userImg"
                    class="image-preview"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg"
                    formControlName = "password"
                    [ngClass]="{ 'is-invalid': submit && f.image.errors }"
                  />
                  <div *ngIf="submit && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors['required']">Password is required</div>
                    <div *ngIf="f.password.errors['pattern']">Password must be lowercase and follow a specific format</div>
                    <div *ngIf="f.password.errors['minlength']">Password minimum length must be 8</div>
                  </div>
                  
                  
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="confirmpassword"
                    >Confirm password</label
                  >
                  <input
                    type="password"
                    id="confirmpassword"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3cg"
                  />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in
                    <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account?
                  <a href="#!" class="fw-bold text-body"><u>Login here</u></a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
