<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center guides">
      <h3>Register</h3>
      <p class="blue-text">
        Just answer a few questions<br />
        so that we can personalize the right experience for you.
      </p>
      <div class="card">
        <form
          class="form-card"
          [formGroup]="guideRegistrationFrom"
          enctype="multipart/form-data"
        >
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >full Name<span class="text-danger"> *</span></label
              >
              <input
                type="text"
                id="fullname"
                name="fullname"
                formControlName="fullname"
                placeholder="fullname"
                required
                [ngClass]="{'is-invalid':submit && f['fullname'].errors}"
               
              />
              <div *ngIf="submit && f['fullname'].errors" class="invalid-feedback">
                <div *ngIf="f['fullname'].errors?.['required']">
                  Full Name is Required
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Email id<span class="text-danger"> *</span></label
              >
              <input
                type="email"
                id="email"
                name="email"
                formControlName="email"
                placeholder="email id"
                required
                [ngClass]="{ 'is-invalid': submit && f['email'].errors }"
                />
                <div *ngIf="submit && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors?.['required']">
                    email is Required
                  </div>
                    <div *ngIf="f['email'].errors['email']">Invalid email format
                  </div>
                </div>
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Phone Number<span class="text-danger"> *</span></label
              >
              <input
                type="number"
                id="phnnumber"
                name="phnumber"
                formControlName="mobilenumber"
                placeholder="phone number"
                required
                [ngClass]="{
                  'is-invalid': submit && f['mobilenumber'].errors
                }"
              />
              <div
                *ngIf="submit && f['mobilenumber'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['mobilenumber'].errors?.['required']">
                  mobile Number is Required
                </div>
                <div *ngIf="f['mobilenumber'].errors?.['pattern']">
                  Mobile Number must be 10 digits
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Total year of expirence<span class="text-danger">
                  *</span
                ></label
              >
              <input
                type="number"
                id="totexp"
                name="totexp"
                formControlName="totalexp"
                placeholder="experience"
                required
                [ngClass]="{
                  'is-invalid': submit && f['totalexp'].errors
                }"
              />
              <div *ngIf="submit && f['totalexp'].errors" class="invalid-feedback">
                <div *ngIf="f['totalexp'].errors?.['required']">
                  Total Expierence is required
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Upload photo<span class="text-danger"> *</span></label
              >
              <input
                type="file"
                id="job"
                name="job"
                placeholder=""
                required
                (change)="onFileSelected($event)"
               
              />
              
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Location<span class="text-danger">
                  *</span
                ></label
              >
              <input
                type="text"
                id="location"
                formControlName="location"
                name="location"
                placeholder="location"
                required
                [ngClass]="{
                  'is-invalid': submit && f['location'].errors
                }"
              />
              <div *ngIf="submit && f['location'].errors" class="invalid-feedback">
                <div *ngIf="f['location'].errors?.['required']">
                  Total Expierence is required
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Password<span class="text-danger">
                  *</span
                ></label
              >
              <input
                type="password"
                id="password"
                formControlName="password"
                name="password"
                required
                placeholder="password"
                [ngClass]="{ 'is-invalid': submit && f['password'].errors }"
            />
            <div *ngIf="submit && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">
                Password is required
              </div>
              <div *ngIf="f['password'].errors['pattern']">
                Password is not in a specific format
              </div>
              <div *ngIf="f['password'].errors['minlength']">
                Password minimum length must be 8
              </div>
            </div>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Confirm Password<span class="text-danger">
                  *</span
                ></label
              >
              <input
                type="text"
                id="confirmpassword"
                formControlName="confirmpassword"
                name="confirmpassword"
                placeholder="confirmpassword"
              required
                [ngClass]="{
                  'is-invalid': submit && f['confirmpassword'].errors
                }"
              />
              <div *ngIf="submit && f['confirmpassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmpassword'].errors?.['required']">
                 Confirm password is required
                </div>
              </div>
            </div>
            
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-12 flex-column d-flex">
              <label class="form-control-label px-3"
                >Tell About yourself<span class="text-danger"> *</span></label
              >
              <textarea
                rows="3"
                cols="40"
                id="ans"
                name="ans"
                required
                formControlName="about"
                placeholder="Tell about your self ......"
                [ngClass]="{ 'is-invalid': submit && f['about'].errors }"
              ></textarea>
              <div *ngIf="submit && f['about'].errors" class="invalid-feedback">
                <div *ngIf="f['about'].errors?.['required']">
                 Please enter details
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="errmsg" class="alert alert-danger" role="alert"> {{errmsg}}</div>

          <div class="row justify-content-center">
            <div class="form-group col-sm-6">
              <button
                type="submit"
                class="btn btn-success"
                (click)="onsubmit()"
              >
                Register
              </button>
              <p class="text-center text-muted mt-5 mb-0">
                Have already an account?
                <a routerLink="/guide/guidelogin"  class="fw-bold text-body"><u>Login here</u></a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
