<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center guides">
      <h3>Register</h3>
      <p class="blue-text">
        Just answer a few questions<br />
        so that we can personalize the right experience for you.
      </p>
      <div class="card">
        <form
          class="form-card"
          [formGroup]="guideRegistrationFrom"
          enctype="multipart/form-data"
        >
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >full Name<span class="text-danger"> *</span></label
              >
              <input
                type="text"
                id="fname"
                name="fname"
                formControlName="fullname"
                placeholder="full name"
              />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Email id<span class="text-danger"> *</span></label
              >
              <input
                type="text"
                id="email"
                name="email"
                formControlName="email"
                placeholder="email id"
              />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Phone Number<span class="text-danger"> *</span></label
              >
              <input
                type="number"
                id="phnnumber"
                name="phnumber"
                formControlName="mobilenumber"
                placeholder="phone number"
              />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Total year of expirence<span class="text-danger">
                  *</span
                ></label
              >
              <input
                type="number"
                id="totexp"
                name="totexp"
                formControlName="totalexp"
                placeholder="experience"
              />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Upload photo<span class="text-danger"> *</span></label
              >
              <input
                type="file"
                id="job"
                name="job"
                placeholder=""
                (change)="onFileSelected($event)"
              />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3"
                >Location<span class="text-danger">
                  *</span
                ></label
              >
              <input
                type="text"
                id="location"
                formControlName="location"
                name="location"
                placeholder="location"
              />
            </div>
            
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-12 flex-column d-flex">
              <label class="form-control-label px-3"
                >Tell About yourself<span class="text-danger"> *</span></label
              >
              <textarea
                rows="3"
                cols="40"
                id="ans"
                name="ans"
                formControlName="about"
                placeholder="Tell about your self ......"
              ></textarea>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="form-group col-sm-6">
              <button
                type="submit"
                class="btn btn-success"
                (click)="onsubmit()"
              >
                Register
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
