<!-- OtpVerificationDialogComponent HTML -->
<div class="modal-content card" >
    <span class="close" (click)="closeDialog()"><i class="fa-solid fa-xmark thett" ></i></span>
    
    <span class="mobile-text">
      Enter the code we just sent to your mobile phone {{data.mobileNumber}}
      <b class="text-danger"></b>
    </span>
    <div class="d-flex flex-row mt-5">
      <input type="text" class="form-control" >
      <input type="text" class="form-control">
      <input type="text" class="form-control">
      <input type="text" class="form-control">
    </div>

    
    <div class="text-center mt-5">
        <button class="btn btn-primary">Submit</button>
      <span class="d-block mobile-text">Didn't receive the code?</span>
      <span class="font-weight-bold text-danger cursor ">Resend</span>
    </div>
  </div>
  