<!-- OtpVerificationDialogComponent HTML -->
<div class="modal-content card" >
    <span class="close" (click)="closeDialog()"><i class="fa-solid fa-xmark thett" ></i></span>
    
    <span class="mobile-text">
      Enter the code we just sent to your mobile phone {{data.mobileNumber}}
      <b class="text-danger"></b>
    </span>
    <form action="" class="modal-content card">
    <div class="d-flex flex-row mt-5">
     <form action="" (ngSubmit)="onOtpSubmit()">
      <input type="text" class="form-control" [(ngModel)]="otp.one" name="one">
      <input type="text" class="form-control"  [(ngModel)]="otp.two" name="two">
      <input type="text" class="form-control"  [(ngModel)]="otp.three" name="three">
      <input type="text" class="form-control"  [(ngModel)]="otp.four" name="four">
      <div class="text-center mt-5">
          <button type="submit" class="btn btn-primary">Submit</button>
        <span class="d-block mobile-text">Didn't receive the code?</span>
        <span class="font-weight-bold text-danger cursor ">Resend</span>
      </div>
    </form>
    </div>
  </form>

    
  </div>
  